<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!-- sql문에서 DTO 쓸 때 경로가 기니까 별칭을 세팅 -->
	<typeAliases>	
		<typeAlias type="portfolio.model.dto.GameInfoDTO" alias="GameInfoDTO"/>
		<typeAlias type="portfolio.model.dto.GameRecordDTO" alias="GameRecordDTO"/>
		<typeAlias type="portfolio.model.dto.WalletDTO" alias="WalletDTO"/>
		<typeAlias type="portfolio.model.dto.IconDTO" alias="IconDTO"/>
		<typeAlias type="travelMaker.model.dto.TmUserDTO" alias="TmUserDTO"/>
		<typeAlias type="travelMaker.model.dto.UserRkDTO" alias="UserRkDTO"/>
		<typeAlias type="travelMaker.model.dto.LargePosDTO" alias="LargePosDTO"/>
		<typeAlias type="travelMaker.model.dto.SmallPosDTO" alias="SmallPosDTO"/>
		<typeAlias type="travelMaker.model.dto.GroupSpaceDTO" alias="GroupSpaceDTO"/>
		<typeAlias type="travelMaker.model.dto.GroupMemberDTO" alias="GroupMemberDTO"/>
		<typeAlias type="travelMaker.model.dto.GroupRequestDTO" alias="GroupRequestDTO"/>
		<typeAlias type="travelMaker.model.dto.ScheduleDTO" alias="ScheduleDTO"/>
		<typeAlias type="travelMaker.model.dto.GalleryDTO" alias="GalleryDTO"/>
		<typeAlias type="travelMaker.model.dto.GalleryLikedDTO" alias="GalleryLikedDTO"/>
		<typeAlias type="travelMaker.model.dto.ChattingDTO" alias="ChattingDTO"/>
		<typeAlias type="travelMaker.model.dto.LandmarkBoardDTO" alias="LandmarkBoardDTO"/>
		<typeAlias type="travelMaker.model.dto.LandmarkLikedDTO" alias="LandmarkLikedDTO"/>
		<typeAlias type="travelMaker.model.dto.ReportReasonDTO" alias="ReportReasonDTO"/>
		<typeAlias type="travelMaker.model.dto.ReportDetailDTO" alias="ReportDetailDTO"/>
		<typeAlias type="travelMaker.model.dto.MessageDTO" alias="MessageDTO"/>
		<typeAlias type="travelMaker.model.dto.UserCmtDTO" alias="UserCmtDTO"/>
		<typeAlias type="travelMaker.model.dto.QnaBoardDTO" alias="QnaBoardDTO"/>
		<typeAlias type="travelMaker.model.dto.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="travelMaker.model.dto.SharedLikedDTO" alias="SharedLikedDTO"/>
	</typeAliases>
	
	<!-- mapper파일의 위치 세팅. mapper가 추가되면 mappers 안에 mapper 태그를 추가하면 된다 -->
	<mappers>
		<mapper resource="/portfolio/sql/gameSQL.xml"/>
		<mapper resource="/travelMaker/sql/chattingSQL.xml"/>
		<mapper resource="/travelMaker/sql/galleryLikedSQL.xml"/>
		<mapper resource="/travelMaker/sql/gallerySQL.xml"/>
		<mapper resource="/travelMaker/sql/groupMemberSQL.xml"/>
		<mapper resource="/travelMaker/sql/groupRequestSQL.xml"/>
		<mapper resource="/travelMaker/sql/groupSpaceSQL.xml"/>
		<mapper resource="/travelMaker/sql/landmarkBoardSQL.xml"/>
		<mapper resource="/travelMaker/sql/landmarkLikedSQL.xml"/>
		<mapper resource="/travelMaker/sql/largePosSQL.xml"/>
		<mapper resource="/travelMaker/sql/messageSQL.xml"/>
		<mapper resource="/travelMaker/sql/noticeSQL.xml"/>
		<mapper resource="/travelMaker/sql/qnaBoardSQL.xml"/>
		<mapper resource="/travelMaker/sql/reportDetailSQL.xml"/>
		<mapper resource="/travelMaker/sql/reportReasonSQL.xml"/>
		<mapper resource="/travelMaker/sql/scheduleSQL.xml"/>
		<mapper resource="/travelMaker/sql/smallPosSQL.xml"/>
		<mapper resource="/travelMaker/sql/tmUserSQL.xml"/>
		<mapper resource="/travelMaker/sql/userCmtSQL.xml"/>
		<mapper resource="/travelMaker/sql/userRkSQL.xml"/>
		<mapper resource="/travelMaker/sql/sharedSQL.xml" />
		<mapper resource="/travelMaker/sql/sharedLikedSQL.xml" />
	</mappers>

</configuration>