@charset "UTF-8";

/*contents_pf.css*/

/*index basic*/
.indexMode {height: 2000px;}

/*index portfolio*/
.portfolioMode {background: #fff;}

/*index game*/
.gameMode {display: none; background: #333;}